* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Inter-Bold";
  src: url(../fonts/Inter-Bold.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Light";
  src: url(../fonts/Inter-Light.ttf);
  font-weight: normal;
}
* {
  font-size: 1em;
  color: #000;
  font-family: "Inter-Regular", sans-serif;
  font-weight: normal;
  line-height: 110%;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 20px;
}

h3 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  font-size: 40px;
  margin-bottom: 50px;
}

.icon {
  border-radius: 50%;
  background: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icon img {
  max-width: 50%;
  display: block;
}

.phone {
  padding-left: 30px;
  position: relative;
  display: block;
}
.phone:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  background: url(../img/icons/phone.svg) no-repeat center;
  background-size: cover;
}

.whatsapp {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/icons/whatsapp.svg) no-repeat center;
  background-size: cover;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.telegram {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/icons/telegram.svg) no-repeat center;
  background-size: cover;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 1399px) {
  .container {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
  }
}
@media (max-width: 900px) {
  h3 {
    font-size: 32px;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0px 10px;
  }
  h3 {
    font-size: 28px;
  }
}
.header {
  background: #000;
  position: relative;
  z-index: 1000;
}
.header * {
  color: #fff;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}
.header__logo {
  padding-right: 50px;
}
.header__logo span {
  font-size: 28px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  text-transform: uppercase;
  line-height: 100%;
}
.header__nav {
  margin-right: auto;
}
.header__nav a {
  margin-right: 30px;
  font-family: "Inter-Light", sans-serif;
  font-weight: normal;
  line-height: 110%;
  line-height: 100%;
}
.header__contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts a {
  margin-left: 10px;
}
.header__contacts .phone:before {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.header__buttons {
  padding-left: 20px;
}
.header__buttons-btn {
  color: #000;
  padding: 15px 20px;
  background: #fff;
  border-radius: 30px;
}
.header__buttons-mobile {
  display: none;
}

.mobile__menu {
  display: none;
}

.mobile__toolbar {
  display: none;
}

@media (max-width: 990px) {
  .header__logo {
    padding-right: 20px;
  }
  .header__logo span {
    font-size: 24px;
  }
  .header__nav {
    margin-right: auto;
  }
  .header__nav a {
    margin-right: 20px;
    font-size: 14px;
  }
  .header__contacts {
    margin-left: auto;
  }
  .header__contacts a {
    font-size: 14px;
  }
  .header__buttons-btn {
    display: none;
  }
}
@media (max-width: 700px) {
  .header__logo {
    padding-right: 20px;
  }
  .header__logo span {
    font-size: 24px;
  }
  .header__nav {
    display: none;
  }
  .header__contacts {
    display: none;
  }
  .header__buttons-btn {
    display: none;
  }
  .header__buttons-mobile {
    display: block;
    width: 40px;
    height: 40px;
    top: 0;
    background: transparent;
    border: none;
    position: relative;
    z-index: 1000;
  }
  .header__buttons-mobile span {
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: top 0.4s 0.4s ease-in-out, bottom 0.4s 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: top 0.4s 0.4s ease-in-out, bottom 0.4s 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: top 0.4s 0.4s ease-in-out, bottom 0.4s 0.4s ease-in-out, transform 0.4s ease-in-out;
    transition: top 0.4s 0.4s ease-in-out, bottom 0.4s 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .header__buttons-mobile span:first-child {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    top: calc(50% - 10px);
  }
  .header__buttons-mobile span:nth-child(2) {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    opacity: 1;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
  }
  .header__buttons-mobile span:last-child {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    top: calc(50% + 10px);
  }
  .header__buttons-mobile-active span {
    -webkit-transition: top 0.4s ease-in-out, bottom 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
    transition: top 0.4s ease-in-out, bottom 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
    transition: top 0.4s ease-in-out, bottom 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
    transition: top 0.4s ease-in-out, bottom 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  }
  .header__buttons-mobile-active span:first-child {
    top: 19px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__buttons-mobile-active span:nth-child(2) {
    opacity: 0;
  }
  .header__buttons-mobile-active span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 19px;
  }
  .header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .mobile__menu {
    display: block;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: #fff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .mobile__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100%;
    padding: 80px 10px;
  }
  .mobile__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile__nav a {
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "Inter-Bold", sans-serif;
    font-weight: normal;
    line-height: 110%;
  }
  .mobile__contacts {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 50px 0px;
  }
  .mobile__contacts a {
    font-size: 20px;
  }
  .mobile__contacts a.phone {
    grid-column-start: span 2;
  }
  .mobile__buttons-btn {
    color: #fff;
    padding: 20px 30px;
    background: #000;
    border-radius: 30px;
  }
  .mobile__toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #fff;
    -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05), -4px -4px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05), -4px -4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    padding: 10px 30px;
    z-index: 10;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }
  .mobile__toolbar a {
    font-size: 14px;
  }
  .mobile__toolbar a .icon {
    width: 40px;
    height: 40px;
    margin: 0px auto;
    margin-bottom: 10px;
  }
  .mobile__toolbar-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .mobile__menu-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.main {
  background: url(../img/main-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.main:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.main__wrapper {
  min-height: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}
.main__text {
  margin-top: 100px;
  max-width: 60%;
}
.main__text * {
  color: #fff;
}
.main__text span {
  font-family: "Inter-Light", sans-serif;
  font-weight: normal;
  line-height: 110%;
  display: block;
  margin-bottom: 20px;
}
.main__text h1 {
  font-size: 60px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
}
.main__text h2 {
  font-size: 24px;
  margin-top: 20px;
}
.main__text button {
  padding: 20px 80px;
  background: #fff;
  color: #000;
  border-radius: 100px;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
  margin-top: 20px;
  border: none;
}
.main__form {
  min-width: 100%;
  margin-top: 70px;
  background: #fff;
  border-radius: 100px;
}
.main__form form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  padding: 50px;
}
.main__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__form-item .icon {
  width: 60px;
  height: 60px;
  background: #EFEFEF;
  border-radius: 50%;
}
.main__form-item .text {
  padding-left: 10px;
}
.main__form-item .text span {
  display: block;
  color: #b8b8b8;
  font-family: "Inter-Light", sans-serif;
  font-weight: normal;
  line-height: 110%;
  font-size: 14px;
  margin-bottom: 10px;
}
.main__form-item .text input {
  border: none;
  outline: none;
  font-size: 18px;
  color: #000;
  max-width: 180px;
}
.main__form-item .text ::-webkit-input-placeholder {
  color: #000;
}
.main__form-item button {
  padding: 20px 20px;
  background: #000;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
}
.main .animation-left:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.main .animation-left:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media (max-width: 1400px) {
  .main__form form {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 20px;
  }
  .main__form-item .text input {
    font-size: 16px;
    max-width: 160px;
  }
  .main__form-item:nth-child(1) .text input, .main__form-item:nth-child(2) .text input {
    max-width: 110px;
  }
}
@media (max-width: 1200px) {
  .main__text {
    margin-top: 100px;
    max-width: 70%;
  }
  .main__form form {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
  }
  .main__form-item .text input {
    font-size: 16px;
    max-width: 160px;
  }
  .main__form-item button {
    font-size: 16px;
  }
}
@media (max-width: 1150px) {
  .main__form form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 20px;
  }
  .main__form-item .text input {
    font-size: 18px;
    max-width: 160px;
  }
  .main__form-item button {
    font-size: 18px;
  }
  .main__form-item:nth-child(1) .text input, .main__form-item:nth-child(2) .text input {
    max-width: 160px;
  }
  .main__form-item:last-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
  }
}
@media (max-width: 990px) {
  .main__text {
    margin-top: 100px;
    max-width: 70%;
  }
  .main__text span {
    font-size: 14px;
  }
  .main__text h1 {
    font-size: 40px;
  }
  .main__text h2 {
    font-size: 20px;
  }
  .main__form {
    border-radius: 20px;
  }
  .main__form form {
    grid-gap: 20px 30px;
    grid-gap: 1fr 1fr 0.5fr;
    padding: 50px 30px;
  }
  .main__form-item .text input {
    font-size: 16px;
    max-width: 140px;
  }
  .main__form-item button {
    font-size: 14px;
  }
  .main__form-item:nth-child(1) .text input, .main__form-item:nth-child(2) .text input {
    max-width: 120px;
  }
}
@media (max-width: 700px) {
  .main {
    background: url(../img/main-bg.png) no-repeat 52% 10%;
    background-size: cover;
  }
  .main__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 80px;
  }
  .main__text {
    margin-top: 0px;
    max-width: 85%;
  }
  .main__text span {
    font-size: 14px;
  }
  .main__text h1 {
    font-size: 30px;
  }
  .main__text h2 {
    font-size: 16px;
  }
  .main__text button {
    padding: 15px 50px;
    font-size: 16px;
  }
  .main__form {
    border-radius: 20px;
    position: absolute;
    bottom: -80px;
  }
  .main__form form {
    grid-gap: 20px 30px;
    grid-template-columns: 1fr;
    padding: 50px 30px;
  }
  .main__form-item .icon {
    width: 50px;
    height: 50px;
  }
  .main__form-item .text input {
    font-size: 16px;
    max-width: 100%;
  }
  .main__form-item button {
    font-size: 18px;
    min-width: 100%;
  }
  .main__form-item:nth-child(1) .text input, .main__form-item:nth-child(2) .text input {
    max-width: 100%;
  }
  .main__form-item:last-child {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .main-fixed {
    margin-top: 80px;
  }
}
.popular {
  padding: 100px 0px;
  background: #f2f2f2 url(../img/catalog-bg.png) no-repeat left bottom;
}
.popular__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.popular h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular h3 a {
  font-size: 16px;
  padding-right: 24px;
  position: relative;
}
.popular h3 a:before {
  content: "";
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 16px;
  height: 16px;
  background: url(../img/icons/arrow.svg) no-repeat center;
  background-size: cover;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.popular__item {
  background: #fff;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  overflow: hidden;
}
.popular__item img.photo {
  min-width: 100%;
}
.popular__item-text {
  padding: 30px 30px 0px 30px;
}
.popular__item-text h4 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  font-size: 28px;
  margin-bottom: 20px;
}
.popular__item-text h4 span.old {
  font-size: 14px;
  color: #b8b8b8;
  display: block;
}
.popular__item-tariff {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
.popular__item-tariff .tariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popular__item-tariff .tariff .icon {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
}
.popular__item-tariff .tariff .text {
  padding-left: 10px;
}
.popular__item-tariff .tariff .text .small {
  font-size: 14px;
}
.popular__item-tariff .tariff .text .price {
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  font-size: 20px;
  display: block;
  margin-top: 5px;
}
.popular__item-buttons {
  padding: 30px;
}
.popular__item-buttons button {
  padding: 20px 20px;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  font-size: 18px;
}
.popular__item-buttons button.rent {
  background: #000;
  color: #fff;
  margin-right: 10px;
}
.popular__button {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popular__button a.more {
  padding: 20px 60px;
  border-radius: 100px;
  background: #000;
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

@media (max-width: 1150px) {
  .popular__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 990px) {
  .popular__wrapper {
    grid-gap: 30px 10px;
  }
}
@media (max-width: 700px) {
  .popular {
    padding: 150px 0px 60px 0px;
  }
  .popular__wrapper {
    grid-template-columns: 1fr;
  }
  .popular h3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popular h3 a {
    font-size: 14px;
    padding-right: 22px;
    margin-top: 10px;
  }
  .popular h3 a:before {
    width: 14px;
    height: 14px;
  }
}
.work {
  padding: 100px 0px;
  background: #000 url(../img/work-bg.png) no-repeat right bottom;
}
.work h3 {
  color: #fff;
}
.work__wrapper {
  max-width: 50%;
  position: relative;
}
.work__item {
  padding-left: 50px;
  margin-bottom: 70px;
  position: relative;
}
.work__item * {
  color: #8a8a8a;
}
.work__item h5 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  font-size: 24px;
  margin-bottom: 30px;
  position: relative;
}
.work__item h5:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #c4c4c4;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}
.work__item .white-color {
  -webkit-animation: whiteColor 0.4s ease-in-out forwards;
          animation: whiteColor 0.4s ease-in-out forwards;
}
.work__item .white-color:before {
  -webkit-animation: whiteBorder 0.4s ease-in-out forwards;
          animation: whiteBorder 0.4s ease-in-out forwards;
}
.work__item .text {
  font-size: 14px;
}
.work__item .text-white {
  -webkit-animation: whiteColor 0.4s ease-in-out forwards;
          animation: whiteColor 0.4s ease-in-out forwards;
}
.work__item .line {
  position: absolute;
  width: 2px;
  height: 100px;
  background: #c4c4c4;
  left: 10px;
  top: 40px;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
  overflow: hidden;
}
.work__item .line:before {
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #fff;
  position: absolute;
}
.work__item .line-white:before {
  -webkit-animation: whiteLine 1s ease-in-out forwards;
          animation: whiteLine 1s ease-in-out forwards;
}
.work__item:nth-child(2) h5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.work__item:nth-child(2) .text {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.work__item:nth-child(3) {
  margin-bottom: 0;
}
.work__item:nth-child(3) h5 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.work__item:nth-child(3) .text {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes whiteColor {
  100% {
    color: #fff;
  }
}

@keyframes whiteColor {
  100% {
    color: #fff;
  }
}
@-webkit-keyframes whiteBorder {
  100% {
    border: 2px solid #fff;
  }
}
@keyframes whiteBorder {
  100% {
    border: 2px solid #fff;
  }
}
@-webkit-keyframes whiteLine {
  100% {
    top: 0;
  }
}
@keyframes whiteLine {
  100% {
    top: 0;
  }
}
@media (max-width: 700px) {
  .work {
    padding: 60px 0px;
  }
  .work__wrapper {
    max-width: 100%;
  }
  .work__item h5 {
    font-size: 20px;
  }
  .work__item .line {
    top: 60px;
  }
}
.adv {
  padding: 100px 0px;
}
.adv h3 {
  text-align: center;
}
.adv__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.adv__item {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  text-align: center;
}
.adv__item .icon {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  margin-bottom: 30px;
}
.adv__item h5 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  font-size: 24px;
  margin-bottom: 10px;
}
.adv__item .text {
  display: block;
  max-width: 80%;
  margin: 0px auto;
}
.adv__numbers {
  margin-top: 80px;
  background: #E95440 url(../img/number-bg.png) no-repeat bottom right;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}
.adv__numbers * {
  color: #fff;
}
.adv__numbers-text h5 {
  font-size: 40px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
}
.adv__numbers-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 100px;
}
.adv__numbers-item {
  padding: 0px 25px;
}
.adv__numbers-item .number {
  font-size: 38px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  margin-bottom: 10px;
}

@media (max-width: 990px) {
  .adv__numbers {
    padding: 50px 30px;
  }
  .adv__numbers-text h5 {
    font-size: 32px;
  }
  .adv__numbers-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
  }
  .adv__numbers-item {
    margin-left: auto;
    padding: 0px;
    padding-left: 20px;
  }
  .adv__numbers-item .number {
    font-size: 28px;
  }
  .adv__item {
    -webkit-box-flex: 33.33%;
        -ms-flex: 33.33%;
            flex: 33.33%;
    text-align: center;
  }
  .adv__item h5 {
    font-size: 20px;
  }
  .adv__item .text {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .adv {
    padding: 60px 0px;
  }
  .adv__numbers {
    margin-top: 30px;
    padding: 30px;
  }
  .adv__numbers-text h5 {
    font-size: 24px;
  }
  .adv__numbers-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 0;
  }
  .adv__numbers-item {
    margin-left: auto;
    padding: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
  }
  .adv__numbers-item .number {
    font-size: 28px;
    text-align: right;
  }
  .adv__numbers-item:last-child {
    margin-bottom: 0;
  }
  .adv__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .adv__item {
    margin-bottom: 30px;
  }
  .adv__item .icon {
    margin-bottom: 10px;
  }
  .adv__item .text {
    font-size: 16px;
  }
}
.services {
  padding: 0px 0px 200px 0px;
  background: url(../img/adv-bg.png) no-repeat bottom right;
  overflow: hidden;
}
.services__item {
  min-width: 300px;
  min-height: 320px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.services__item * {
  color: #fff;
}
.services__item img {
  pointer-events: none;
  position: relative;
  z-index: -2;
  display: block;
}
.services__item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.services__item-info {
  position: absolute;
  left: 30px;
  bottom: 30px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  font-size: 14px;
  padding-right: 30px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  pointer-events: none;
}
.services__item-info h5 {
  font-size: 20px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  margin-bottom: 10px;
  -webkit-transition: 0.4 all ease-in-out;
  transition: 0.4 all ease-in-out;
}
.services__item-info a {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  margin-top: 20px;
}
.services__item-info .hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.services__item-active:before {
  background: rgba(0, 0, 0, 0.5);
}
.services__item-active .services__item-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.services__item-active .services__item-info h5 {
  font-size: 20px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  margin-bottom: 10px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.services__item-active .services__item-info a {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  display: block;
  margin-top: 20px;
  background: url(../img/icons/arrow.svg) no-repeat center;
  background-size: 15px 15px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.services__item-active .services__item-info .hidden {
  opacity: 1;
  visibility: visible;
}
.services .swiper {
  overflow: visible;
}
.services .swiper-prev,
.services .swiper-next {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  background: url(../img/icons/arrow.svg) no-repeat center;
  background-size: 25px 25px;
  border-radius: 50%;
  position: absolute;
  bottom: -110px;
  left: 0;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.services .swiper-next {
  left: 70px;
}
.services .swiper-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.services .swiper-button-disabled {
  opacity: 0.2;
}

@media (max-width: 700px) {
  .services {
    padding: 0px 0px 120px 0px;
  }
  .services .swiper-prev,
.services .swiper-next {
    bottom: -70px;
  }
}
.feedback {
  background: #000;
  padding: 100px 0px;
}
.feedback * {
  color: #fff;
}
.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 400px;
}
.feedback__item-content {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}
.feedback__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.feedback__item-icon {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 5px;
}
.feedback__item-client {
  padding-left: 20px;
}
.feedback__item-client h5 {
  font-size: 20px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  margin-bottom: 10px;
}
.feedback__item-client span {
  color: #EFEFEF;
  font-size: 14px;
}
.feedback__item-text {
  line-height: 150%;
}
.feedback__item-photo {
  border-radius: 5px;
  max-height: 400px;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  overflow: hidden;
}
.feedback__item-photo img {
  border-radius: 5px;
  display: block;
}
.feedback .swiper-next {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff url(../img/icons/arrow.svg) no-repeat center;
  background-size: 25px 25px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 22%;
  z-index: 100;
  cursor: pointer;
  outline: 5px solid rgba(0, 0, 0, 0.5);
}
.feedback .swiper-slide {
  opacity: 0 !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.feedback .swiper-slide-visible {
  opacity: 1 !important;
}
.feedback .pagination {
  position: relative;
  padding: 0px 30px;
  display: inline-block;
}
.feedback .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback .swiper-pagination-bullet {
  height: 2px;
  width: 30px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 !important;
  opacity: 1;
}
.feedback .swiper-pagination-bullet:first-child {
  position: relative;
}
.feedback .swiper-pagination-bullet:first-child::before {
  content: "01";
  font-size: 14px;
  position: absolute;
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  color: #fff;
}
.feedback .swiper-pagination-bullet:last-child {
  position: relative;
}
.feedback .swiper-pagination-bullet:last-child::after {
  content: attr(data-last);
  font-size: 14px;
  position: absolute;
  right: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  color: #fff;
  z-index: 5;
  opacity: 1 !important;
}
.feedback .swiper-pagination-bullet-active {
  background: #fff;
}

@media (max-width: 1150px) {
  .feedback__item {
    gap: 100px;
  }
  .feedback__item-content {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
  }
}
@media (max-width: 700px) {
  .feedback {
    padding: 60px 0px;
  }
  .feedback .swiper-wrapper {
    padding-bottom: 40px;
  }
  .feedback__item {
    gap: 0px;
  }
  .feedback__item-content {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding-right: 50px;
  }
  .feedback__item-top {
    margin-bottom: 30px;
  }
  .feedback__item-icon {
    width: 50px;
    height: 50px;
  }
  .feedback__item-client h5 {
    font-size: 18px;
  }
  .feedback__item-text {
    font-size: 14px;
  }
  .feedback__item-photo {
    display: none;
  }
  .feedback .swiper-next {
    width: 50px;
    height: 50px;
    right: 0%;
  }
  .feedback .swiper-slide {
    opacity: 0 !important;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .feedback .swiper-slide-visible {
    opacity: 1 !important;
  }
  .feedback .pagination {
    position: relative;
    padding: 0px 30px;
    display: inline-block;
  }
  .feedback .swiper-pagination-bullets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback .swiper-pagination-bullet {
    height: 2px;
    width: 30px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 !important;
    border-radius: 0;
    opacity: 1;
  }
  .feedback .swiper-pagination-bullet:first-child {
    position: relative;
  }
  .feedback .swiper-pagination-bullet:first-child::before {
    content: "01";
    font-size: 14px;
    position: absolute;
    left: -30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    color: #fff;
  }
  .feedback .swiper-pagination-bullet:last-child {
    position: relative;
  }
  .feedback .swiper-pagination-bullet:last-child::after {
    content: attr(data-last);
    font-size: 14px;
    position: absolute;
    right: -30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    color: #fff;
    z-index: 5;
    opacity: 1 !important;
  }
  .feedback .swiper-pagination-bullet-active {
    background: #fff;
  }
}
.faq {
  padding: 100px 0px;
  background: url(../img/faq-bg.png) no-repeat top left;
}
.faq h3 {
  text-align: center;
}
.faq__wrapper {
  max-width: 800px;
  margin: 0px auto;
}
.faq__item {
  border-bottom: 1px solid #EFEFEF;
  padding: 20px 0px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}
.faq__question {
  font-size: 20px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  position: relative;
}
.faq__question .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}
.faq__question .icon span {
  width: 16px;
  height: 2px;
  background: #000;
  border-radius: 2px;
  position: absolute;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.faq__question .icon span:last-child {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.faq__question .faq__icon-active span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.faq__question .faq__icon-active span:last-child {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.faq__answer {
  padding-top: 20px;
  font-size: 14px;
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  position: absolute;
}
.faq__answer-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@media (max-width: 1400px) {
  .faq {
    background-size: 280px 280px;
  }
}
@media (max-width: 1400px) {
  .faq {
    background-size: 150px 150px;
    padding: 60px 0px;
  }
  .faq__question {
    font-size: 18px;
    padding-right: 60px;
  }
}
.footer {
  background: #000;
}
.footer * {
  color: #fff;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer__top-logo {
  padding-right: 50px;
}
.footer__top-logo span {
  font-size: 28px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: normal;
  line-height: 110%;
  text-transform: uppercase;
  line-height: 100%;
}
.footer__top-phone {
  margin-right: auto;
}
.footer__top-phone .phone:before {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.footer__top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__top-social a {
  margin-left: 10px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}
.footer__bottom-copyright {
  margin-right: 50px;
  font-size: 14px;
  font-family: "Inter-Light", sans-serif;
  font-weight: normal;
  line-height: 110%;
}
.footer__bottom-link a {
  font-size: 14px;
  font-family: "Inter-Light", sans-serif;
  font-weight: normal;
  line-height: 110%;
}

@media (max-width: 700px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .footer__top-logo {
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .footer__top-logo span {
    font-size: 20px;
  }
  .footer__top-phone {
    margin-right: auto;
    margin-left: auto;
  }
  .footer__top-social {
    margin-top: 20px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-copyright {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
.animation-left {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  opacity: 0;
}

.animation {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}/*# sourceMappingURL=main.css.map */