.header {
    background: #000;
    position: relative;
    z-index: 1000;
    * {
        color: #fff;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
    }
    &__logo {
        span {
            font-size: 28px;
            @include font-bold;
            text-transform: uppercase;
            line-height: 100%;
        }
        padding-right: 50px;
    }
    &__nav {
        margin-right: auto;
        a {
            margin-right: 30px;
            @include font-ligth;
            line-height: 100%;
        }
    }
    &__contacts {
        margin-left: auto;
        display: flex;
        align-items: center;
        a {
            margin-left: 10px;
        }
        .phone {
            &:before {
                filter: invert(1);
            }
        }
    }
    &__buttons {
        padding-left: 20px;
        &-btn {
            color: #000;
            padding: 15px 20px;
            background: #fff;
            border-radius: 30px;
        }
        &-mobile {
            display: none;
        }
    }
}

.mobile__menu {
    display: none;
}
.mobile__toolbar {
    display: none;
}

@media (max-width: 990px) {
    .header {
        &__logo {
            span {
                font-size: 24px;
            }
            padding-right: 20px;
        }
        &__nav {
            margin-right: auto;
            a {
                margin-right: 20px;
                font-size: 14px;
            }
        }
        &__contacts {
            margin-left: auto;
            a {
                font-size: 14px;
            }
        }
        &__buttons {
            &-btn {
                display: none;
            }
        }
    }
}

@media (max-width: 700px) {
    .header {
        &__logo {
            span {
                font-size: 24px;
            }
            padding-right: 20px;
        }
        &__nav {
            display: none;
        }
        &__contacts {
            display: none;
        }
        &__buttons {
            &-btn {
                display: none;
            }
            &-mobile {
                display: block;
                width: 40px;
                height: 40px;
                top: 0;
                background: transparent;
                border: none;
                position: relative;
                z-index: 1000;
                span {
                    display: block;
                    width: 40px;
                    height: 2px;
                    border-radius: 2px;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    transition: top .4s .4s ease-in-out, bottom .4s .4s ease-in-out, transform .4s ease-in-out;
                    &:first-child {
                        @include centerY;
                        top: calc(50% - 10px);
                    }
                    &:nth-child(2) {
                        @include centerY;
                        opacity: 1;
                        transition: .4s all ease-in-out;
                    }
                    &:last-child {
                        @include centerY;
                        top: calc(50% + 10px);
                    }
                }
                &-active {
                    span {
                        transition: top .4s ease-in-out, bottom .4s ease-in-out, transform .4s .4s ease-in-out;
                        &:first-child {
                            top: 19px;
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:last-child {
                            transform: rotate(-45deg);
                            top: 19px;
                        }
                    }
                }
            }
        }
        &-fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    .mobile__menu {
        display: block;
        position: fixed;
        top: 80px;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        background: #fff;
        transform: translateX(100%);
        transition: all .4s ease-in-out;
    }
    .mobile {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100%;
            padding: 80px 10px;
        }
        &__nav {
            display: flex;
            flex-direction: column;
            a {
                display: block;
                font-size: 20px;
                margin-bottom: 30px;
                @include font-bold;
            }
        }
        &__contacts {
            margin-top: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            padding: 50px 0px;
            a {
                font-size: 20px;
            }
            a.phone {
                grid-column-start: span 2;
            }
        }
        &__buttons {
            &-btn {
                color: #fff;
                padding: 20px 30px;
                background: #000;
                border-radius: 30px;
            }
        }
        &__toolbar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: fixed;
            bottom: 10px;
            left: 10px;
            right: 10px;
            background: #fff;
            box-shadow: 4px 4px 20px rgba(0,0,0,0.05), -4px -4px 20px rgba(0,0,0,0.05);
            border-radius: 50px;
            padding: 10px 30px;
            z-index: 10;
            transform: translateY(100%);
            transition: all .4s ease-in-out;
            opacity: 0;
            a {
                font-size: 14px;
                .icon {
                    width: 40px;
                    height: 40px;
                    margin: 0px auto;
                    margin-bottom: 10px;
                }
            }
            &-active {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    .mobile__menu-active {
        transform: translateX(0);
    }
}